* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

#main {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;  
    align-items: center;      
}


#main::before {
    content: "";
    position: absolute;
    inset: 0; 
    background: url('../images/image_deadlock.png') center / cover no-repeat;
    filter: blur(10px) brightness(0.5);
    transform: scale(1.1); 
}


#image_photo {
    position: relative; 
    z-index: 1;         
    max-height: 90vh;
    max-width: 90vw;
}


#image_photo img {
    display: block;
    max-height: 90vh;
    max-width: 90vw;
    width: auto;
    height: auto;
    object-fit: contain;
}


#boutton_jouer {
    position: absolute;
    left: 50%;            
    bottom: 5%;           
    transform: translateX(-50%);

    padding: 1rem 3rem;
    border-radius: 999px;
    border: none;
    font-size: 1rem;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    background: #007bff;
    color: #fff;
    cursor: pointer;
}
