#image_photo{   
    display: flex;
    justify-content: center;
}

#connexion_inscription {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#button {
    border: 0;
    padding: 15px 30px;
    font-size: 30px;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(0, 120, 215, 1);
    box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
