#monolithe_facile.bloc{
    background: url() center no-repeat;
}

#monolithe_moyen.bloc{
    background: url() center no-repeat;
}

#monolithe_difficile.bloc{
    background: url() center no-repeat;
}