.bouton_inscription {
    border: 0;;
    padding: 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
